{% if config.extra.server_side_katex and get_env(name="GITHUB_ACTIONS", default="false") == "true" %}
    <link rel="stylesheet" href="{{ get_url(path = 'katex/katex.min.css') | safe }}">
{% else %}
    <link rel="stylesheet" href="{{ get_url(path = 'katex/katex.min.css') | safe }}">
    <script defer src="{{ get_url(path = 'katex/katex.min.js') | safe }}"></script>
    <script>
    window.addEventListener("DOMContentLoaded",()=>{
        if (!window.katex) {
            console.warn("KaTeX failed to load.");
            return;
        }
        const renderOptions = {throwOnError: false, strict: "ignore"};
        document.querySelectorAll('code').forEach(e=>{
            if (e.closest('pre')) {
                return;
            }
            let t = e.textContent.trim();
            if(t.startsWith('$')&&t.endsWith('$')){
                let s = document.createElement('span');
                katex.render(t.slice(1,-1),s,renderOptions);
                e.parentNode.replaceChild(s,e);
            }
        });
        document.querySelectorAll('pre.z-code code').forEach(e=>{
            let t = e.textContent.trim();
            let m = t.match(/^\$\$([\s\S]*)\$\$$/);
            if(m){
                let z = e.parentNode;
                let p = document.createElement('p');
                katex.render(m[1].trim(),p,{...renderOptions, displayMode:true});
                z.parentNode.replaceChild(p,z);
            }
        });
    });
    </script>
{% endif %}
