{% import "macros/seo.html" as seo %}

{% set this = page | default(value = section) %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ get_url(path = 'main.css') | safe }}?v=20260608-table-polish">

        {% if this.extra.favicon %}
            <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path = 'favicon-32x32.png') | safe }}?v=20260601">
            <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path = 'favicon-192x192.png') | safe }}?v=20260601">
            <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path = 'favicon.ico') | safe }}?v=20260601">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path = 'apple-touch-icon.png') | safe }}?v=20260601" type="image/png">
        {% endif %}

        {% if this.extra.katex %}{% include "includes/katex.html" %}{% endif %}

        <title>{{ this.title }}</title>

        {{ seo::seo(page = this) }}

        {% block head_includes %}{% endblock head_includes %}
        {% if this.extra.head_includes %}{{ this.extra.head_includes | safe }}{% endif %}
    </head>

    <body>
        {% block main %}{% endblock main %}
    </body>

</html>
